<form method="post" class="formAdmin">
	<input type="hidden" value="{{ action.id }}" name="id">
	<p class="form-group">
		<label for="label">Libellé</label>
		<input class="form-control" type="text" value="{{ action.label }}" name="label" id="label" required>
	</p>
	<p class="form-group">
		<label for="owner_id">ID du chapitre de départ</label>
		<input class="form-control" type="text" value="{{ action.owner_id }}" name="owner_id" id="owner_id" required>
	</p>
	<p class="form-group">
		<label for="target_id">ID du chapitre d'arrivée</label>
		<input class="form-control" type="text" value="{{ action.target_id }}" name="target_id" id="target_id" required>
	</p>
