{% extends 'layout.html.twig' %}

{% block content %}
	<main class="adminMain">
		<div class="admin container-md">
			<h1 class="adminTitle">Modifier le chapitre
				{{ chapter.id }}</h1>
			{# TODO : manage errors display #}
			<ul>
				{% for error in errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% include 'Chapter/_admin_form.html.twig' %}

			<p>
				<button class="buttonAction">Modifier le chapitre</button>
			</p>
		</form>
		<p>Message à l'administrateur : bien penser à enregistrer le fichier image dans :
															public/assets/images/</p>
		<p>Saisir dans le formulaire le même nom d'image que celui enregistré.</p>
		<a href="/chapters/admin_show?id={{ chapter.id }}">Retour</a>
	</div>
</main>{% endblock %}
