@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

body {
    background-image: url(../../assets/images/bg_admin.jpg);
    background-position: 50% 50%;
    margin: 25px;
}

.main-content h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: max(39px, 2.5vw);
    color: #e4e4e4;
    text-align: center;
    font-weight: bold;
}

.decoration {
    display: block;
    margin: 20px auto;
}

.buttonAction {
    margin: 10px 10px 10px 0;
}

.error {
    font: 300 20px Crimson Text;
    color: #e2e2e2;
}

.disclaimer {
    color: #efd807;
    font-size: 1.2rem;
    font-style: italic ;
    margin-top: 0px;
}