@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.adminMain {
    background-image: url("/assets/images/bg_admin.jpg");
    background-attachment: fixed;
    padding-top: 30px;
    padding-bottom: 80px;
}

body {
    color: #000;
    background-color: #000;
}

h1.chapterTitle {
    font: 700 2vw Cinzel Decorative;
    color: #e2e2e2;
    font-size: min(20px);
}

h3 {
    font: 700 28px Cinzel Decorative;
    color: #e2e2e2;
    text-align: center;
}

p {
    font: 300 20px Crimson Text;
    color: #e2e2e2;
}

main.chapter {
    max-width: 550px;
    height: 100vh;
    align-items: center;
}

.chapterPage {
    z-index: 10;
    padding: 25px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 50px;
    animation: fadein 3s;
}

.buttonAction {
    font: 600 20px Crimson Text;
    text-decoration: none;
    padding: 15px;
    color: #000;
    background-color: #e2e2e2;
    border-radius: 10px;
    font-style: italic;
    display: inline-block;
    min-width: 200px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 15px;
}

div.backgroundImage {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    animation: fadein 0.8s;
}

.MobileChapterImage {
    width: 100%;
}

.chapterText {
    margin-bottom: 40px;
    font-style: italic;
    line-height: 1.3;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logo {
    z-index: 10;
    align-self: flex-start;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    filter: drop-shadow(0px 0px 3px black);
}

.logoSize {
    width: 80px;
}

/* Condition d'animation du bouton */

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    color: #000;
}

.audioPage {
    display: none;
}

.adminChapter {
    display: flex;
    justify-content: center;
}

.adminTitle {
    text-align: center;
    font: 300 50px Crimson Text;
    margin-top: 50px;
    color: #e2e2e2;
}

.blockText {
    width: 500px;
    margin: 30px;
}

.blockImage {
    width: 500px;
    margin: 30px;
}

.adminImage {
    width: 500px;
}

.buttonAdmin {
    margin-bottom: 50px;
    height: 60px;
}

.blockButton {
    display: flex;
    justify-content: center;
}

.adminDecoration {
    text-align: center;
}

.tablechapterAdmin {
    color: #e2e2e2;
    font: 300 20px Crimson Text;
}

/* popup historic start here */

.sectionNav {
    display: flex;
    justify-content: space-between;
    height: 0px;
}

.sectionHistoric {
    z-index: 30;
    margin: 1%;
}

.sectionHistoric:hover img {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 3px rgb(110, 110, 110));
}

.popup-link {
    display: flex;
    flex-wrap: wrap;
}



.popup-link a {
    background: #333;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    margin: 20px;
    text-decoration: none;
}

.popup-container {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 17, 17, 0.61);
    display: flex;
    align-items: center;
}

.popup-content {
    background-color: #000;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    max-height: 90vh;
    overflow: auto;
}

.popup-content p {
    padding: 10px;
    line-height: 1.3;
    font-weight: 300;
    font-size: 20px;
    font-family: "Crimson Text";
    color: #e2e2e2;
}

.popup-content a.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.popup-content a.close:hover {
    color: #333;
}

.popup-content span:hover,
.popup-content span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-container:target {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.popup-container h3 {
    margin: 10px;
}

.accordion {
    font: 300 20px Crimson Text;
    margin-top: 25px;
    color: #e2e2e2;
    list-style: none;
    max-height: 90%;
}

.detailButton {
    font: 700 20px Cinzel Decorative;
    padding-bottom: 30px;
    padding-top: 15px;
}

.detailButton::before {
    content: '+';
    padding-right: 10px;
}

.historicDetail {
    background-color: #0B0C0D;
    overflow: auto;
    height: 0px;
}

.historicDetail h1 {
    font: 700 2vw Cinzel Decorative;
    color: #e2e2e2;
    font-size: min(20px);
}

.detailText {
    font-style: italic;
    line-height: 1.3;
}

.container.active .historicDetail {
    height: 300px;
}

.container.active .detailButton::before {
    content: '-';
}

/*End popup styles*/