@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: max(39px, 4.88vw);
    color: #e4e4e4;
    text-align: center;
}

p {
    font-family: 'Crimson Text', serif;
    font-size: max(30px, 2.28vw);
    text-align: center;
    color: #e4e4e4;
}
