@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../../assets/images/Groupe\ 15.jpg);
    background-position: 50% 50%;
    margin: 25px;
}

.main-content h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: max(39px, 4.88vw);
    color: #e4e4e4;
    text-align: center;
}

.main-content img {
    display: block;
    margin: 0 auto;
}

.main-content p {
    font-family: 'Crimson Text', serif;
    font-size: max(30px, 2.28vw);
    text-align: center;
    color: #e4e4e4;
    margin-top: 17.14px;
}

.play-button {
    height: max(160px, 10.51vw);
    width: max(160px, 10.51vw);
    border-radius: 50%;
    border: 3px solid #e4e4e4;
    background: none;
    color: #e4e4e4;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
}

.main-content a {
    font-family: 'Crimson Text', serif;
    font-size: max(32px, 2.06vw);
    text-decoration: none;
}

.main-content {
    height: 75vh;
}

span {
    font-size: max(52px, 6.5vw);
}

#line {
    width: 50px;
}

.sign-links {
    display: flex;
    padding-left: 0rem;

}

.row {
    margin: 0;
}

.sign-links li a {
    text-decoration: none;
    color: #e4e4e4;
    font-size: 34px;
    font-family: 'Crimson Text', serif;
    padding: 0;
}

.sign-links li {
    display: flex;
    padding: 0;
    justify-content: center;
}

.user-bar {
    align-self: center;
    color: #000;
    background-color: #000;
}

h1.chapterTitle {
    font: 700 2vw Cinzel Decorative;
    color: #e2e2e2;
    font-size: min(20px);
}

p {
    font: 300 20px Crimson Text;
    color: #e2e2e2;
}

main.chapter {
    max-width: 550px;
    height: 100vh;
    align-items: center;
}

.chapterPage {
    z-index: 10;
    padding: 25px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 50px;
    animation: fadein 3s;
}

a.buttonAction {
    font: 600 20px Crimson Text;
    text-decoration: none;
    padding: 15px;
    color: #000;
    background-color: #e2e2e2;
    border-radius: 10px;
    font-style: italic;
    display: inline-block;
    min-width: 200px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 15px;
}

div.backgroundImage {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    animation: fadein 0.8s;
}

.MobileChapterImage {
    width: 100%;
}

.chapterText {
    margin-bottom: 40px;
    font-style: italic;
    line-height: 1.3;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

/* Condition d'animation du bouton */

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

/* style page admin à travailler */

.admin {
    background-color: #fff;
    color: #000 !important;
}

.admin p {
    color: #000 !important;
}