{% extends 'layout.html.twig' %}

{% block title %}

	Incipit

{% endblock %}

{% block stylesheet %}

	<link rel="stylesheet" href="/assets/css/incipit.css">

{% endblock %}

{% block content %}
	<a class="logo" href="/"><img src="/assets/images/logo.svg"></a>

	<div class="container"></div>
	<div id="incipit-block" class="container mt-5 align-middle">
		<h1 class="mt-md-5">Bienvenue "Aventurier"</h1>
		<img id="double-arrow" src="/assets/images/noun-frame-346217.svg">
		<p class="incipit-text">
			Perché sur son trône d'onyx dans une grande salle humide et froide, Falgor le dragon contemple par la pensée l'étendue du royaume paisible et prospère d'Aeter.
						Mais son esprit le torture et il se souvient d'une grandeur passée qu'il ne pourra jamais oublier. Il veut PLUS...
						La magicienne du chateau de Kastel Aeter capte ces sinistres projets dans son bol de divination et sonne l'alerte.
						Votre radieuse contrée est en danger et un héros ou une héroïne doit s'avancer.</p>
		<div class="button">
			<a href="chapter/show?id=1">Démarrer l'aventure</a>
		</div>
	</div>

{% endblock %}
