{% extends 'layout.html.twig' %}

{% block title %}

	Incipit

{% endblock %}

{% block stylesheet %}

	<link rel="stylesheet" href="/assets/css/incipit.css">

{% endblock %}

{% block content %}
	<audio controls autoplay class="audioPage" src="/assets/sound/turnpage.mp3"></audio>
	<a class="logo" href="/"><img src="/assets/images/logo.svg"></a>
	<div class="d-md-none">
		<img class="MobileChapterImage" src="/assets/images/Groupe-72.png"></div>
	<main class="incipit d-inline-flex align-items-center">
		<div class="container incipitPage">
			<div class="row justify-content-center">
				<div class="col-md-9 text-center">
					<h1 class="chapterTitle incipit">
						Bienvenue
						{{alias.player_name}}
					</h1>
					<img src="/assets/images/noun-frame-346217.svg">
					<p class="chapterText incipit">
						Perché sur son trône d'onyx dans une grande salle humide et froide, Falgor le dragon contemple par la pensée l'étendue du royaume paisible et prospère d'Aeter.
																																																																																																			Mais son esprit le torture et il se souvient d'une grandeur passée qu'il ne pourra jamais oublier. Il veut PLUS...
																																																																																																			La magicienne du chateau de Kastel Aeter capte ces sinistres projets dans son bol de divination et sonne l'alerte.
																																																																																																			Votre radieuse contrée est en danger et un héros ou une héroïne doit s'avancer.</p>
					<a class="buttonAction raise" href="chapter/show?alias={{alias.id}}&id=1">Démarrer l'aventure</a>
				</div>
			</div>
		</div>
		<div class="backgroundImage d-none d-md-block" style="background-image: url(/assets/images/Groupe-72.png);"></div>
	</main>
{% endblock %}
