{% extends 'layout.html.twig' %}

{% block title %}

	Incipit

{% endblock %}

{% block stylesheet %}

	<link rel="stylesheet" href="/assets/css/incipit.css">

{% endblock %}

{% block content %}

	<div class="container col 12 ms-sm-0 mb-md-5">
		<img src="/assets/images/logo.svg">
	</div>
	<div id="incipit-block" class="container mt-5 align-middle">
		<h1 class="mt-md-5">Bienvenue Gandalf</h1>
		<img id="double-arrow" src="/assets/images/noun-frame-346217.svg">
		<p class="incipit-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
		<p class="incipit-text">
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>

{% endblock %}
