{% extends 'layout.html.twig' %}

{% block title %}

	Se connecter

{% endblock %}

{% block content %}

	<div>
		<img src="/assets/images/logo.svg">
		<div>
			<p>Se connecter</p>
			<img src="/assets/images/noun-frame-346217.svg">
			<form method="post">
				<p>
                    <label for="email">Email</label>
                    <input type "email" name="email" placeholder="Email">
                </p>
                <p>
                    <label for="password">Mot de passe</label>
                    <input type "text" name="password" placeholder="Mot de passe">
                </p>
                <p>
                    <button type="submit">Je me connecte</button>
                </p>
			</form>
			<p>Vous n'avez pas de compte?<br><a href="/register">Inscrivez vous</a></p>
		</div>
	</div>

{% endblock %}
