{% extends 'layout.html.twig' %}

{% block title %}
	page historique
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/alias.css">
{% endblock %}

{% block content %}
	<main class="container sm main-content col-md-12 order-md-2 mt-5 align-self-md-center">
		<div class="container-md">
			<a href="/"><img class="decoration" src="/assets/images/logo.svg"></a>
			<div class="sectionHistoric">
				<a href="/alias/create">
					<button type="button" class="buttonAlias">Commencer une<br>nouvelle histoire</button>
				</a>
			</div>


		</main>
	{% endblock %}
