<form method="post" class="formAdmin">
	<input type="hidden" value="{{ alias.id }}" name="id">
	<p class="form-group">
		<label for="player_name">Alias</label>
		<input class="form-control" type="text" value="{{ alias.player_name }}" placeholder="ex : Gandalf" name="player_name" id="player_name" required>
	</p>
	<input type="hidden" value="{{ alias.user_id }}" name="user_id">
	<input type="hidden" value="{{ alias.nature }}" name="nature">
	<p>
		<button class="buttonAction raise">Commencer à jouer</button>
	</p>
</form>
